{% extends "page_base.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - login
{% endblock %}

{% block css %}
    {{  block.super }}
    {% stylesheet 'auth' %}
{% endblock %}

{% block body %}

<div id="login">
    <h1>iaso.</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>

{% endblock %}